h1,h2
   {
   font-family: times;
   text-shadow: 2px 2px #708090;
   }
   
   h3
   {
   text-shadow: 0 0 3px #708090;
   }
   
   h4,h6,header
   {
   color: white;
   }
   h1,h2
   {
   color: white;
   }
  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-size: cover;
  color: #1f2937;
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none;
}

.player {
  width: 100%;
  padding: 36px;
}

.player-track-meta {
  text-align: center;

}

.player-track-meta p {
  margin: 0;
  font-size: 50pxpx;
  color: #ffffff;
  font-weight: 700;
}

.player-track-meta span {
  font-size: 35px;
  font-weight: 400;
  padding: 0 2px;
  position: relative;
  top: 1px;
  color: #ffffff;
}

.player-controls {
  display: flex;
  align-items: center;
}

.player-play-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.icon-container {
  fill: transparent;
  stroke: none;
}

.player-play-btn:hover {
  fill: #444444;
}

.player-play-btn svg { 
  color: #ffffff;
  position: relative;
  left: 0.5px;
  width: 36px;
  height: 36px;
  display: block;
}

.player-play-btn:hover svg {
  color: #ffffff;
}

.player-timeline {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.player-progress {
  display: flex;
  position: relative;
  height: 6px;
  background: #a3a3a3;
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  flex-basis: 100%;
  overflow: hidden;
}

.player-progress-filled {
  height: 6px;
  background: #ffffff;
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}

.player-time {
  padding: 2px 5px;
}

.player-volume-container {
  width: 15%;
}
.player-volume {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}

.player-volume:focus {
  outline: none;
}

.player-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: #ffffff;
  border-radius: 10px;
}

.player-volume::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.player-volume:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.player-volume::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: #ffffff;
  border-radius: 10px;
}

.player-volume::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  margin-top: -4px;
}

.player-volume::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: #ffffff;
  border-radius: 10px;
}

.player-volume::-ms-fill-lower {
  background: #ffffff;
  border-radius: 10px;
}

.player-volume::-ms-fill-upper {
  background: #ffffff;
  border-radius: 10px;
}

.player-volume::-ms-thumb {
  margin-top: 1px;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.player-volume:focus::-ms-fill-lower {
  background: #38bdf8;
}

.player-volume:focus::-ms-fill-upper {
  background: #38bdf8;
}